*{
    box-sizing: border-box;
}
.nav{
    background-color: azure;
}
    .nav-container{
    
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    

}
.logo-container{

display: flex;
width: 50%;
}
.logo-container img{
    width: 300px;
    object-fit: cover;
    margin-right: 20px;
}
.logo-container p{
    font-size: 40px;
    
}
.nav-item-container{

width: 50%;
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-item-container a{
    text-decoration: none;
}



.nav-title{
    color: palevioletred;
}
.first{
   padding: 30px; 
}


.follow-btn{
    /* background-color: gainsboro; */
    /* padding: 20px; */
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.online-game-text {
    text-align: center;
    
}
.div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.div :hover{
    border: 5px solid palegreen;

}
.online-game h1{
font-size: 50px;
}


.banner-text1{
    /* font-size: 10px; */
    font-weight: 500;
}
.banner-text2{
    font-size: 100px;
    color: coral;
}
.btn1{
    background-color: aqua;
    padding: 20px;
    border-radius: 30px;
}
.btn2{
    background-color: tomato;
    padding: 20px;
    border-radius: 30px;
}
.online-game{
    text-align: center;
    justify-content: center;
}
img{
    margin-left: 20px;
}
.play-game{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}
.box1{
    font-size: 35px;
}
.box2{
    position: relative;
}
.box3{
    position: absolute;
    bottom:0px;
    left: 0px;
}
.item{
    display: flex;
    gap: 20px;
    border-radius: 35px;
    background-color: azure;
    width: 60%;
    justify-content: center;
    align-items: center;
}
.item :hover {
color: aqua;

}
.game2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 50px auto;
       justify-content:center;
       align-items: center;
width: 70%;
    
}
.game2 :hover {
    border: 4px solid crimson;
}
.last-img1{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
    
}
.last-text{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
    font-size: 30px;
}
 .class{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.fa-brands{
    font-size: 50px;
    
}
.Policy{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    font-size: 20px;
    
    
}
.footer{
    background-color: antiquewhite;
}

@media screen and (max-width: 576px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-item-container{
        flex-direction: column;
        gap: 20px;

    }
    .follow-btn{
        padding: 5px;
    }
    .nav-item-container a{
        margin-top: 20px;
    }
    .banner{
        flex-direction: column;
    }
    .div-img1{
        width: auto;

    }
    .btn1,.btn2{
        flex-direction: column;
    }
    .div{
        display: grid;
        grid-template-columns: 1fr;
    }
    .play-game{
        flex-direction: column;
    }
    .box2{
        width: 50%;
    }
    .item{
        flex-wrap: wrap;
        
        
    }
    .last-img,.last-text,.class,.Policy{
        flex-direction: column;
    }

}
    


    